#rt{
	position: absolute;
	right: 200px;
	left: 600px;
	
	
}
#lt{
	position: absolute;
	Left: 400px;
	
	
}
#fd{ 
	position: absolute;
	top: -70px;
	left: 250px;
	right: 550px;
}
	
#bd {	
	position: absolute;
	top: 70px;
	left: 250px;
	right: 550px;
	
}

#st{
	position: relative;
	right: 250px;
	left: 150px;
	
]